In [1]:
# Importing Required libraries:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Importing dataset, both train.csv and test.csv
df_train = pd.read_csv(r'C:\Users\dhruv\Desktop\ML 1\train.csv')
df_test = pd.read_csv(r'C:\Users\dhruv\Desktop\ML 1\test.csv')

In [3]:
# Viewing train dataset:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Viewing test dataset:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
# Question : Checking for the null values in the train dataset:
df_train.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [6]:
# Question : Checking for the null values in the test dataset:
df_test.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

In [7]:
# Question: Unique value in the train and test dataset:
# Hence, it is concluded that there is only one unique column in i,e 'y' in the train dataset.
df_train.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [8]:
df_test.columns

Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

In [9]:
# Obtaining X_train and y_train from the train dataset:
X_train = df_train.drop(['y', 'ID'], axis =1)
Y_train = df_train['y']

In [10]:
# Similarly, Obtaining X_test and y_test from the test dataset:
X_test = df_test.drop('ID', axis =1)
Y_test = df_test['ID']

In [11]:
# Viewing the shape of X_train, X_test, Y_train, Y_test:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(4209, 376)
(4209, 376)
(4209,)
(4209,)

In [12]:
# Question: Apply LabelEncoder :
from sklearn.preprocessing import LabelEncoder
leb = LabelEncoder()

In [13]:
# Using LabelEncoder, encoding X_train and X_test:
X_train = X_train.apply(leb.fit_transform)
X_test = X_test.apply(leb.fit_transform)

In [14]:
# Question : If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
# Hence, checking the variance of all the variables in X_train:

X_train.var().sort_values().head(20)

X93     0.000000
X235    0.000000
X107    0.000000
X233    0.000000
X330    0.000000
X268    0.000000
X11     0.000000
X347    0.000000
X289    0.000000
X290    0.000000
X293    0.000000
X297    0.000000
X257    0.000238
X207    0.000238
X280    0.000238
X288    0.000238
X39     0.000238
X33     0.000238
X190    0.000238
X270    0.000238
dtype: float64

In [15]:
# Removing Columns with zero variance from X_train:
X_train = X_train.drop(['X93','X235', 'X107', 'X233', 'X330', 'X268', 'X11', 'X347', 'X289', 'X290', 'X293', 'X297'], axis =1)
X_train.shape

(4209, 364)

In [16]:
# Similarly, removing columns with zero variance from X_test:
X_test = X_test.drop(['X93','X235', 'X107', 'X233', 'X330', 'X268', 'X11', 'X347', 'X289', 'X290', 'X293', 'X297'], axis =1)
X_test.shape

(4209, 364)

In [17]:
# Question: Perform dimensionality reduction.

from sklearn.decomposition import PCA
pca = PCA(n_components = 12, random_state = 400)

In [18]:
# Reducing dimensionality of X_train:

X_train_pca = pca.fit_transform(X_train)

In [19]:
X_train_pca.shape

(4209, 12)

In [20]:
# Reducing dimensionality of X_test:

X_test_pca = pca.transform(X_test)

In [21]:
X_test_pca.shape

(4209, 12)

In [22]:
# Importing XGBoost:

from xgboost import XGBClassifier
model = XGBClassifier()

In [23]:
# Fitting the training dataset in the XGBoost model:
model.fit(X_train_pca, Y_train)

XGBClassifier(objective='multi:softprob')

In [24]:
# Question: Predict your test_df values using XGBoost.
 
predict_test = model.predict(X_test_pca)
print(predict_test)

[ 74.87  89.96  76.64 ...  95.98 113.34 113.39]